a{
  color: $link-color;
  @include transition(all 0.3s ease-in-out);
  &:active,
  &:hover,
  &:focus{
    color: $link-color-light;
  }
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: $title-font;
  font-weight: 100;
}

.title{
  font-size: 36px;
  color: $title-color;
  position: relative;
  display: inline-block;
  &:after{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 3px;
    box-shadow: 0 0 5px 10px $_aqua;
    content: '';
    height: 5px;
    z-index: -1;
    background-color: $_aqua;
  }
}