// VARIABLES

//Colors

$black: #000000;
$white: #ffffff;

$_red: #d62126;
$_aqua: #5ec6c5;
$_pink: #f7ada2;
$_gold: #fbad15;
$_light-gold: #f9dd7c;
$_cream: #fce7d6;
$_black: #070908;
$_off-white: #f7f5e9;
$_light-aqua: #c8e7d8;

$title-color: $_red;
$link-color: $_red;
$link-color-light: $_pink;
$copy-color: $_black;
$body-bg: $_off-white;

//Fonts

$title-font: 'Work Sans', sans-serif;
$copy-font: 'Playfair Display', serif;
